<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

<head th:replace="layout/layout :: header"></head>

<main id="main">

    <!-- ======= Introducción Individual ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single" th:text="${agentBean.agentId == null ? 'Crear Agente' : 'Editar Agente'}">Crear Agente</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/index}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <span th:text="${agentBean.agentId == null ? 'Crear Agente' : 'Editar Agente'}">Crear Agente</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- Fin Introducción Individual -->

    <!-- ======= Sección de Agente ======= -->
    <section class="section-about">
        <div class="container">
            <div th:object="${agentBean}">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <form th:action="@{/save-agent}" th:object="${agentBean}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" name="firstName" class="form-control form-control-lg form-control-a"
                                   id="firstName" th:field="*{firstName}" th:errorclass="'alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" name="lastName" class="form-control form-control-lg form-control-a"
                                   id="lastName" th:field="*{lastName}" th:errorclass="'alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone" class="form-label">Teléfono</label>
                            <input type="text" name="phone" class="form-control form-control-lg form-control-a"
                                   id="phone" th:field="*{phone}" th:errorclass="'alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" name="email" class="form-control form-control-lg form-control-a"
                                   id="email" th:field="*{email}" th:errorclass="'alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea name="description" class="form-control form-control-lg form-control-a"
                                      id="description" th:field="*{description}" th:errorclass="'alert-danger'"></textarea>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="imageFile" class="form-label">Imagen</label>
                            <input type="file" name="imageFile" class="form-control form-control-lg form-control-a"
                                   id="imageFile" th:field="*{imageFile}" th:errorclass="'alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}"></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center mb-4">
                    <button type="submit" class="btn btn-a">Guardar Agente</button>
                </div>



                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <div th:if="*{imageBase64 != null}">
                                        <img id="imageBase64" th:src="'data:image/jpeg;base64,' + *{imageBase64}" alt="Imagen Cargada" />
                                    </div>
                                    <!-- Mostrar la imagen previsualizada si no hay imagen Base64 -->
                                    <img id="outputImage" style="display: none;" alt="Previsualización de Imagen" src="" />
                                </div>
                            </div>
                            <div class="property-single-carousel-pagination carousel-pagination"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section><!-- Fin Sección de Agente -->

</main><!-- Fin #main -->

<head th:replace="layout/layout :: footer"></head>

<head th:replace="layout/layout :: javascript"></head>

</body>

</html>
